<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>202056036590-gmre30bmqh1p0j5r8c7vu528rpo8ufv4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD_RFszNFMfl0Q9V_BatAyuTtcKxrXcORE</string>
	<key>GCM_SENDER_ID</key>
	<string>202056036590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.waste0</string>
	<key>PROJECT_ID</key>
	<string>alawism-a705f</string>
	<key>STORAGE_BUCKET</key>
	<string>alawism-a705f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202056036590:ios:dfb1a13c8f14457cc083ff</string>
</dict>
</plist>